{
  "API": "#.APL2Vega.Main",
  "CaseCode": "Off",
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "ProjectSpace": "#.APL2Vega",
  "StartUp": "",
  "URL": "https://github.com/JoshDavid/APL2Vega",
  "Version": "0.0.1"
}
